<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body style="background-image: url(../static/images/qq.jpg);">
		
		<div style="margin-left: 27.5%;margin-top: 400px;">
		<form action="/list" method="post">
			<span style="font-size: 22px;">请输入要添加的商品：</span>
			<input type="text" name="goodsname" style="outline: 0;height: 25px;border-radius: 5px;background-color:#FAF1E8 ;" />
			<span style="font-size: 22px;">请输入添加的价格：</span>
			<input type="text" name="pirce"style="outline: 0;height: 25px;border-radius: 5px;background-color:#E7E7E2 ; "/>
			<input type="submit" value="添加" style="width: 60px;height: 30px;"/>
		</form>
		</div>
	</body>
</html>
