<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="../static/js/bootstrap-3.3.7-dist/css/bootstrap.css"/>
    <script src="../static/js/jqery/jquery-2.1.4.js" type="text/javascript" charset="utf-8"></script>
    <script src="../static/js/bootstrap-3.3.7-dist/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
</head>
<body style="background-image: url(../static/images/image-3.jpg);background-attachment: fixed;background-repeat: no-repeat">
    <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">秋月之霞</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">主页 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">更多</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">工具箱 <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">听音乐</a></li>
                    <li><a href="#">看电影</a></li>
                    <li><a href="#">玩游戏</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">学知识</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">学装逼</a></li>
                  </ul>
                </li>
              </ul>
              <form class="navbar-form navbar-left">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="输入搜索内容">
                </div>
                <button type="submit" class="btn btn-default">查找</button>
              </form>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">更多</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">更重要的 <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">资助我们</a></li>
                    <li><a href="#">加入我们</a></li>
                    <li><a href="#">登录</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">注册</a></li>
                  </ul>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>

        <div style="width: 100%;height: 1000px;background-color:#ffffff;margin-top: -20px">

            <div class="jumbotron" style=" height: 700px;background-image: url('../static/images/010.jpg')">
              <h1 style="margin-left: 300px">你好，欢迎!</h1>
							<p style="margin-left: 300px">登录界面</p>
              <p style="margin-left: 300px">吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼吼</p>
              <p style="margin-left: 300px"><a class="btn btn-primary btn-lg" href="#" role="button">获取更多</a></p><div style="">
							<form action="/login" method="post" style="margin-left: 1100px;margin-top: -150px; border: 1px solid #999999;width: 350px;height: 300px;">
								<br><br>
								<span class="h4" style="margin-top: 350px;">账号：</span><input type="text" name="username" style="width: 200px;height: 35px;border-radius: 7px;" /><br><br><br>
								<span class="h4">密码：</span><input type="password" name="password" style="width: 200px;height: 35px;border-radius: 7px;"/><br>
								<br><br>
								<input type="submit" value="登录" style="margin-left:50px;border-radius: 7px;">
								</div>
							</form>
						</div>
						
        </div>

        <div style="width: 1100px;height: 700px;margin-left: 400px">
					
					
					
				</div>
        <div style="width: 100%;height: 1000px;background-color:#ffffff"></div>
				




</body>
</html>