<!DOCTYPE html>
<html lang="zh">
	<head lang="zh-CN">
		<meta charset="utf-8">
		<title>BootStrap</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../static/js/bootstrap-3.3.7-dist/css/bootstrap.css"/>
		<script src="../static/js/jqery/jquery-2.1.4.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/js/bootstrap-3.3.7-dist/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
	    <style type="text/css">
	    	*{
				margin: 0;
				padding: 0;
			}
	    </style>
    </head>
	<body>
    <div>
		<h1 style="color: blue;background-color: red;margin: 0 auto;text-align: center;">我们不需要你，摆了您个白</h1>
		<h1 style="text-align: center;">我们后会有期！！</h1>
        <h2 style="text-align: center;">真的，不信你看!</h2>
        <h3 style="text-align: center;">我绝对不会告诉你</h3>
        <h4 style="text-align: center;">这个是玩的</h4>
        <h1 style="text-align: center;">\(^o^)/~</h1>
    </div>
	</body>
</html>
